@import url(https://fonts.googleapis.com/css?family=Poppins);

/* 
Color Palette: 
beige, coral (#FF906B), moonstone (#47B2BE), darkgray (#121212)
*/
* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: #121212;
}

body {
  background-color: beige;
  margin: 0;
}

h1 {
  font-size: clamp(32px, 2rem, 3rem);
  text-align: center;
}

main {
  padding: 0 10%;
}

@media (min-width: 1200px) {
  main {
    padding: 0 15%;
  }
}

section {
  padding-top: 8rem;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s linear;
  transition: opacity 1s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

p a {
  padding: 0;
}

.circle {
  background: #FF906B;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

footer {
  padding: 2rem;
  text-align: center;
  margin-top: 10rem;
}

footer img {
  width: 4rem;
  height: 4rem;
  padding: 0 1rem;
  color: #FF906B;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

footer img:hover {
  top: -1rem;
}