#contact div {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#contact form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 75%;
    font-size: clamp(16px, 1rem, 1rem);
}

#contact input, textarea {
    border: none;
    padding: 1rem;
    width: 100%;
    border-radius: 4px;
    margin: 0.5rem 0 1rem 0;
    font-size: clamp(16px, 1rem, 1rem);
    box-sizing: border-box;
}

#contact textarea {
    resize: none;
    height: 8rem;
}

#contact input:focus, textarea:focus {
    outline: none;
}

#contact button {
    border: none;
    cursor: pointer;
    width: 50%;
    padding: 1rem;
    background-color: #FF906B;
    border-radius: 8px;
    font-size: clamp(16px, 1rem, 1rem);
    transition: 0.3s;
    margin: 1rem auto 0 auto;
}

#contact button:hover {
    background-color: #e96e45;
}

