#experience div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3rem;
}

#experience h1 {
    margin-bottom: 3rem;
}

/* #f26554; #02a6b9*/
#experience article {
    border: solid;
    border-color: beige;
    border-width: 0 4px 4px 0;
    box-shadow: 1rem 1rem #FF906B;
    padding: 3rem;
    box-shadow: 10px;
    background-color: #FF906B;
}

#experience article:hover {
    transform: scale(1.05);
}

#experience article h4 {
    margin: 0.5rem 0;
}

#experience article h3 {
    font-size: 1.5rem;
}

#experience * {
    margin: 0;
    padding: 0;
}

#experience article ul {
    margin-left: 2rem;
    list-style-type: "▷ ";
}

#experience article li {
    margin-bottom: 1rem;
}

#experience article h3 a:hover {
    color: black;
    transform: scale(1.1);
    display: inline-block;
}