#landing {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding-top: 0;
    min-height: 75vh;
}

@media (max-width: 1200px) {
    #landing {
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    #landing .text {
        text-align: center;
    }
}

#landing h1 {
    font-size: clamp(64px, 4rem, 4rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#landing h2 {
    font-size: clamp(24px, 1rem, 1rem);
    display: inline-block;
}

#landing h3 {
    font-size: clamp(32px, 2rem, 2rem);
    margin: 0;
}

#landing .text {
    display: inline-block;
}

#landing .headshot {
    border-radius: 20;
}

#landing img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

.type {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid coral;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .025em;
    animation:
        typing 4s steps(40, end),
        blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: coral;
    }
}