nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: beige;
    transition: 0.6s;
}

nav a {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: clamp(16px, 1.5rem, 32px)
}

nav a:hover {
    color: black;
    transform: scale(1.2);
    display: inline-block;
}

nav div {
    font-size: clamp(16px, 1.5rem, 32px)
}